extends ../App/App

block view

    include ../Menu
    include ../Break
    
    .ui.container

        .ui.segment
            .ui.top.attached.label Fetch
            include ../List

        .ui.segment
            .ui.top.attached.label DataTables
            include ../Table

        .ui.equal.width.grid
            .column
                .ui.segment
                    .ui.top.attached.label SweetAlert
                    include ../AlertButton

            .column
                .ui.segment
                    .ui.top.attached.label Formidable
                    include ../UploadButton