extends ../../index
block app
    script(type='text/javascript' src='/node_modules/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/node_modules/semantic-ui-css/semantic.min.js')
    link(rel="stylesheet" type="text/css" href="/node_modules/semantic-ui-css/semantic.min.css")
    div
        block view