.ui.top.fixed.menu
    a(href="/home")
        .link.item Home
    .right.menu
        .link.item(onClick="logout()") Logout

script.
    const logout = () => {
        $.get("/logout")
        .then(() => window.location = "/login")
    }