<div class="ui top fixed menu">
    <a href="/home">
        <div class="link item">
            <span>Home</span>
        </div>
    </a>
    <div class="right menu">
        <div class="link item" onClick="logout()">
            <span>Logout</span>
        </div>
    </div>
</div>

script.
    const logout = () => {
        console.log("logging out...")
    }