link(rel="stylesheet" type="text/css" href="/node_modules/datatables.net-se/css/dataTables.semanticui.css")
link(rel="stylesheet" type="text/css" href="/node_modules/datatables.net-buttons-se/css/buttons.semanticui.css")

script(type="text/javascript" src="/node_modules/datatables.net/js/jquery.dataTables.js")
script(type="text/javascript" src="/node_modules/datatables.net-se/js/dataTables.semanticui.js")
script(type="text/javascript" src="/node_modules/datatables.net-buttons/js/dataTables.buttons.js")
script(type="text/javascript" src="/node_modules/datatables.net-buttons-se/js/buttons.semanticui.js")
script(type="text/javascript" src="/node_modules/jszip/dist/jszip.min.js")
script(type="text/javascript" src="/node_modules/pdfmake/build/pdfmake.min.js")
script(type="text/javascript" src="/node_modules/pdfmake/build/vfs_fonts.js")
script(type="text/javascript" src="/node_modules/datatables.net-buttons/js/buttons.html5.js")
script(type="text/javascript" src="/node_modules/datatables.net-buttons/js/buttons.colVis.js")

<br></br>

table.ui.celled.unstackable.selectable.table.display(cellspacing="0" width="100%")

script.

    const columns = [
        { title: "x", data: "x" },
        { title: "y", data: "y" }
    ]

    $(() => {
        $.get("/api/samples/table")
            .then(data => {
                const table = $(".table").DataTable({
                    data,
                    columns,
                    ordering: false,
                    bDestroy: true,
                    autoWidth: false,
                    bLengthChange: false,
                    bInfo: false,
                    lengthChange: false,
                    pageLength: 10,
                    buttons: ["copy", "csv", "pdf"],
                    language: {
                        search: `<i class="search icon"></i>`
                    }
                })
                table
                    .buttons()
                    .container()
                    .appendTo($(
                        "div.eight.column:eq(0)", 
                        table.table().container()
                    ))
            })
    })